<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwQEPc3nPBLrYP3DfzPToOkA28_fU-cpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>915263156671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jetmarket.customer</string>
	<key>PROJECT_ID</key>
	<string>jetmarket-customer</string>
	<key>STORAGE_BUCKET</key>
	<string>jetmarket-customer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915263156671:ios:92875587e3e1b8923bf10a</string>
</dict>
</plist>